body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800 !important;
}

.btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.bg-black {
    background-color: #000 !important;
}

.rounded-pill {
    border-radius: 5rem;
}

.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(65, 75, 86);
}

.navbar-custom .navbar-brand {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.header-block {
    position: relative;
    overflow: hidden;
    padding-top: calc(1rem + 72px);
    padding-bottom: 2rem;
    background: rgb(0, 25, 168);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

.header-block .header-block-content {
    z-index: 1;
    position: relative;
}

.header-block .header-block-content .header-block-heading {
    font-size: 2rem;
}

.header-block .header-block-content .header-block-subheading {
    font-size: 1rem;
}

.header-block .header-image {
    width: 200px;
    margin-bottom: 50px;
}

@media (min-width: 992px) {
    .bg-primary {
        background-color: #ee0979 !important;
    }
    .btn-primary {
        background-color: #ee0979;
        border-color: #ee0979;
    }
    .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
        background-color: #bd0760 !important;
        border-color: #bd0760 !important;
    }
    .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
    }
    .btn-secondary {
        background-color: #ff6a00;
        border-color: #ff6a00;
    }
    .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
        background-color: #cc5500 !important;
        border-color: #cc5500 !important;
    }
    .btn-secondary:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
    }
}

.form-control {
    font-size: 0.8rem;
}