{% extends "layout.html" %}

{% block page_content %}

<div class="container">


    <div class="row">
        <div class="col-md-9" style="
    padding: 0;
">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Map_of_USA_with_state_names.svg/959px-Map_of_USA_with_state_names.svg.png"
                width="100%" style="margin-top: 50px;">
        </div>
        <div class="col-md-3"
            style="border: 1px solid #d8d8d8;margin-top: 50px;padding: 25px;margin-bottom: 74px;padding-bottom: 0px;/* border-right: 4px solid #000; */">
            <form style="/* margin-top: 50px; */" _lpchecked="1">
                <div class="row">
                    <input type="text" class="form-control" placeholder="Origin"
                        style="margin-bottom: 10px; width: 100%;">
                    <input type="text" class="form-control" placeholder="Destination"
                        style="margin-bottom: 10px;width:100%">
                    <input type="text" class="form-control" placeholder="Start Time"
                        style="margin-bottom: 10px;width:100%">
                    <button type="submit" class="btn btn-secondary"
                        style="width:100%;font-size: 12px;background-color:rgb(0,25,168);border-color:rgb(0,25,168);">Search</button>
                </div>
            </form>
            <div id="timeline-container">
                <ul class="timeline"
                    style="padding-left:10px;overflow-y:scroll;max-height: 310px;margin-bottom: -5px;margin-right: -25px;">
                    <li class="timeline-item" data-date="22 Jan 2020">Bakerloo - Waterloo</li>
                    <li class="timeline-item" data-date="3 Feb 2020">Bakerloo -Gateway</li>
                    <li class="timeline-item" data-date="14 Feb 2020">Bakerloo -Example</li>
                    <li class="timeline-item" data-date="17 Feb 2020">Metropolitan - Cutty Sark</li>
                    <li class="timeline-item" data-date="22 Jan 2020">Bakerloo - Waterloo</li>
                    <li class="timeline-item" data-date="3 Feb 2020">Bakerloo -Gateway</li>
                    <li class="timeline-item" data-date="14 Feb 2020">Bakerloo -Example</li>
                    <li class="timeline-item" data-date="17 Feb 2020">Metropolitan - Cutty Sark</li>
                </ul>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block page_scripts %}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2JJaU3ySjHvqyO7a_HGNf3-pS0dZBjo4&callback=initMap&libraries=&v=weekly"
    defer></script>
<script>
    function initMap() {
        const directionsService = new google.maps.DirectionsService();
        const directionsRenderer = new google.maps.DirectionsRenderer();
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 6,
            center: { lat: 41.85, lng: -87.65 },
        });
        directionsRenderer.setMap(map);
        document.getElementById("submit").addEventListener("click", () => {
            calculateAndDisplayRoute(directionsService, directionsRenderer);
        });
    }

    function calculateAndDisplayRoute(directionsService, directionsRenderer) {
        const waypts = [];
        const checkboxArray = document.getElementById("waypoints");

        for (let i = 0; i < checkboxArray.length; i++) {
            if (checkboxArray.options[i].selected) {
                waypts.push({
                    location: checkboxArray[i].value,
                    stopover: true,
                });
            }
        }
        directionsService.route(
            {
                origin: document.getElementById("start").value,
                destination: document.getElementById("end").value,
                waypoints: waypts,
                optimizeWaypoints: true,
                travelMode: google.maps.TravelMode.DRIVING,
            },
            (response, status) => {
                if (status === "OK") {
                    directionsRenderer.setDirections(response);
                    const route = response.routes[0];
                    const summaryPanel = document.getElementById("directions-panel");
                    summaryPanel.innerHTML = "";

                    // For each route, display summary information.
                    for (let i = 0; i < route.legs.length; i++) {
                        const routeSegment = i + 1;
                        summaryPanel.innerHTML +=
                            "<b>Route Segment: " + routeSegment + "</b><br>";
                        summaryPanel.innerHTML += route.legs[i].start_address + " to ";
                        summaryPanel.innerHTML += route.legs[i].end_address + "<br>";
                        summaryPanel.innerHTML += route.legs[i].distance.text + "<br><br>";
                    }
                } else {
                    window.alert("Directions request failed due to " + status);
                }
            }
        );
    }
</script>
{% endblock %}