{% extends "layout.html" %}
{% load static %}

{% block page_content %}
<div class="header-block">
    <div class="header-block-content">
        <div class="container">
            <h1 class="header-block-heading mb-0">London Underground Planner</h1>
            <h2 class="header-block-subheading mb-0">Find the shortest path for your requested root.</h2>
        </div>
    </div>
</div>

<div class="homepage-selection">
    <div class="container">
        <img src="{% static 'imgs/homepage-graphic.svg' %}" />
        <div class="selection-box">
            <div class="row">
                <div class="col-lg-3">
                    <p class="selection-title">From</p>
                    <input type="text" name="origin-location" id="origin-location" placeholder="Origin Location" />
                </div>
                <div class="col-lg-3">
                    <p class="selection-title">To</p>
                    <input type="text" name="destination-location" id="destination-location"
                        placeholder="Destination Location" />
                </div>
                <div class="col-lg-2">
                    <p class="selection-title">At</p>
                    <input type="time" name="start-time" id="start-time" />
                </div>
                <div class="col-lg-2">
                    <img src="{% static 'imgs/train-graphic.svg' %}" id="train-graphic" />
                </div>
                <div class="col-lg-2 selection-button">
                    <button id="selection-submit-button" onclick="expand()">Search</button>
                </div>
            </div>
            <div class="route-selection">
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="route-plan">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="route-map">
                            <div id="map"></div>
                        </div>
                    </div>
                </div>
                <div class="route-summary">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2JJaU3ySjHvqyO7a_HGNf3-pS0dZBjo4&callback=initMap&libraries=&v=weekly"
    defer></script>
<script>
    function expand() {
        $('.selection-box').addClass('selection-box-large');
        $('.route-selection').show();
    }
    let map;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: -34.397, lng: 150.644 },
            zoom: 8,
        });
    }
</script>
{% endblock %}