{% extends "layout.html" %}

{% block page_content %}
<div class="main-wrapper">
    <div class="container">
        <h1 class="user-guide-steps-heading mb-0">Licences</h1>
        <h2 class="user-guide-steps-subheading">Licences used for the London Underground Planner</h2>

        <p>/*!
            * typeahead.js 1.3.1
            * https://github.com/corejavascript/typeahead.js
            * Copyright 2013-2020 Twitter, Inc. and other contributors; Licensed MIT
            */</p>

    </div>
</div>
{% endblock %}