{% extends "layout.html" %}
{% load static %}

{% block page_content %}
<div class="header-block subpage-header-block">
    <div class="header-block-content">
        <div class="container">
            <h1 class="subpage-block-heading mb-0">User Guide</h1>
            <h2 class="subpage-block-subheading mb-0">How to use the London Underground Planner</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="user-guide-section">
        <!-- User Guide Title-->
        <div class="user-guide-description">
            <p>Selecting Your Route In Four Easy Steps!</p>
            <ol>
                <li>Firstly, enter your origin location.</li>
                <li>Next, enter your desired destination.</li>
                <li>Similarly, enter the time you wish to depart.</li>
                <li>Lastly, click the search button.</li>
            </ol>
        </div>
    </div>
    <!-- User Guide Steps Grid  -->
    <div class="user-guide-section">
        <!-- Step 1-->
        <h1 class="user-guide-steps-heading mb-0">Step 1.</h1>
        <h2 class="user-guide-steps-subheading mb-0">Selecting Your Origin</h2>
        <div class="user-guide-description">
            <div class="row">
                <div class="col-lg-4">
                    <p>To start, you first need to type your starting point into the "From" input box.</p>
                    <p>Once you start typing, a list of suggested stations will appear. You can click one of these
                        to auto input it into the field.</p>
                    <p>If your desired station isn't recommended, you can continue typing the full station name
                        until it appears.</p>
                </div>
                <div class="col-lg-5 offset-lg-3">
                    <img src="{% static 'imgs/from-box.svg' %}" />
                </div>
            </div>
        </div>
    </div>
    <div class="user-guide-section">
        <!-- Step 2 -->
        <h1 class="user-guide-steps-heading mb-0">Step 2.</h1>
        <h2 class="user-guide-steps-subheading mb-0">Selecting Your Destination</h2>
        <div class="user-guide-description">
            <div class="row">
                <div class="col-lg-4">
                    <p>To start, you first need to type your destination point into the "To" input box.</p>
                    <p>Once you start typing, a list of suggested stations will appear. You can click one of these to auto input it into the field.</p>
                    <p>If your desired station isn't recommended, you can continue typing the full station name until it appears.</p>
                </div>
                <div class="col-lg-5 offset-lg-3">
                    <img src="{% static 'imgs/to-box.svg' %}" />
                </div>
            </div>
        </div>
    </div>
    <div class="user-guide-section">
        <!-- Step 3 -->
        <h1 class="user-guide-steps-heading mb-0">Step 3.</h1>
        <h2 class="user-guide-steps-subheading mb-0">Selecting Your Departure Time</h2>
        <div class="user-guide-description">
            <div class="row">
                <div class="col-lg-4">
                    <p>Next, you will need to enter your time of departure into the "At" input box</p>
                </div>
                <div class="col-lg-5 offset-lg-3">
                    <img src="{% static 'imgs/at-box.svg' %}" />
                </div>
            </div>
        </div>
    </div>
    <div class="user-guide-section">
        <!-- Step 4 -->
        <h1 class="user-guide-steps-heading mb-0">Step 4.</h1>
        <h2 class="user-guide-steps-subheading mb-0">Searching For Your Route</h2>
        <div class="user-guide-description">
            <div class="row">
                <div class="col-lg-4">
                    <p>Finally, click search. It really is that simple!</p>
                </div>
                <div class="col-lg-5 offset-lg-3">
                    <img src="{% static 'imgs/search-button.svg' %}" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}